/* header */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mitr', sans-serif;
  padding-bottom: 5rem;
  background-color: #efefef; 
}
header{
  background-image: linear-gradient(to right, #26a626 , #36d6a9);
  height: 50px;
  margin-top: 0%;
  color: #fff;
}
.logoifpb{
  width: 75%;
  margin: auto;
  padding-top: 0.5rem;
}
.logoif {
  height: 30px;
  margin: auto;
}



/* Filtro de pesquisa */
.filter {
  margin-top: 4rem;
  width: 40%;
}
.search{
  margin: auto;
  box-shadow: 3px -1px 28px -4px rgba(158,158,158,0.71);
}
.lista {
  background-image: linear-gradient(to right, #26a626 , #36d6a9);
  border-radius: 10px;
  box-shadow: 3px -1px 28px -4px rgba(158,158,158,0.71);
}

.search-input{
  background-color: white;
  min-width: 100%;
  height:3rem;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background-image: url('../img/searchicon.png');
  background-position: right; 
  background-position-x: 97%;
  background-repeat: no-repeat;
  padding: 3%;
}
.list-group{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
.nav-link{
  color: #fff;
}
.nav-link:hover{
  color: #114a11;
}
.ma_abc{
  text-align: center;
  margin-bottom: 15px;
}
.ma_abc a{
  color: #114a11;
  line-height: 25px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  margin: 0.25rem;
}
.ma_abc a.on{
  color: rgba(158,158,158);
}



/* Texto da página */
h1 {
  text-align: center;
  font-weight: 100;
  margin-top: 3rem;
}
.tittle{
  width: 40%;
  margin: auto;
  text-align: center;
}




/* Cards egressos */
.egressos {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: 2rem;
  justify-content: center;
  color: #fff
}
@media (max-width:610px){
  .egressos {
    grid-template-columns: repeat(1, 200px);
  }
  .filter {
    width: 80%;
  }
  .list-group-horizontal {
    flex-direction: column;
}

}
@media (min-width: 610px) {
  .egressos {
    grid-template-columns: repeat(2, 200px);
  }
  .filter {
    width: 80%;
  }

}

@media (min-width: 910px) {
  .egressos {
    grid-template-columns: repeat(4, 200px);
  }
  .filter {
    width: 40%;
  }
}
@media (min-width: 1440px) {
  .egressos {
    grid-template-columns: repeat(4, 200px);
  }
}
@media (min-width: 1920px) {
  .egressos {
    grid-template-columns: repeat(6, 200px);
  }
}

.egresso {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  transition: all .4s;
  /* border-radius: 500px; */
  overflow: hidden;
}

.egresso:hover {
  transform: scale(1.1);
}

.egresso figure {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .7;
  transition: all .4s;
  background-size: 100%;
}

.egresso figure img {
  height: 100%;
}

.egresso:hover figure {
  opacity: 1;
  background-color: rgba(54, 214, 212);
  background-blend-mode: multiply;
}
.egresso .info {
  position: relative;
  width: 100%;
  height: 25%;
  z-index: 1;
  background-color: rgba(17, 74, 17, 0.4);
  background-blend-mode: multiply;
  margin-top: 148px;
  text-align: center;
}
.info p {
  padding-top: 0.5rem
}
.egresso:hover .info p{
  display: none;
}
.card-hover{
  display: none;
}
.egresso:hover .card-hover{
  display: block;
}
.card-hover p{
  text-align: left;
}

.egresso .icons {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 98%;
  margin: 0 auto;
  z-index: 2;
}

.egresso .name {
  position: absolute;
  text-align: center;
  width: 95%;
  margin: 0 auto;
}

.egresso .icons a {
  margin-left: 10px;
}
.egresso .icons a i{
  color: #fff;
  font-size: 20px;
}

.egresso .icons a i:hover {
  cursor: pointer;
}

.egresso .icons a i:hover {
  transition-duration: 0.4s;
  transform: scale(1.5);
}

.egresso:hover .info {
  background-color: transparent;
}

.egresso .name h2 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}