/* header */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mitr', sans-serif;
  padding-bottom: 5rem;
  background-color: #efefef; 
}
header{
  background-image: linear-gradient(to right, #26a626 , #36d6a9);
  height: 50px;
  margin-top: 0%;
  color: #fff;
}
.logoifpb{
  width: 75%;
  margin: auto;
  padding-top: 0.5rem;
}
.logoif {
  height: 30px;
  margin: auto;
}



/* Filtro de pesquisa */
nav{
  margin: 2rem;
}

.filter {
  margin-top: 2rem;
  width: 40%;
}
.search{
  margin: auto;
  box-shadow: 3px -1px 28px -4px rgba(158,158,158,0.71);
}
.lista {
  background-image: linear-gradient(to right, #26a626 , #36d6a9);
  border-radius: 10px;
  box-shadow: 3px -1px 28px -4px rgba(158,158,158,0.71);
}

.search-input{
  background-color: white;
  min-width: 100%;
  height:3rem;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background-image: url('../img/searchicon.png');
  background-position: right; 
  background-position-x: 97%;
  background-repeat: no-repeat;
  padding: 3%;
}
.list-group{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
.nav-link{
  color: #fff;
}
.nav-link:hover{
  color: #114a11;
}
.ma_abc{
  text-align: center;
  margin-bottom: 15px;
}
.ma_abc a{
  color: #114a11;
  line-height: 25px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  margin: 0.25rem;
}
.ma_abc a.on{
  color: rgba(158,158,158);
}

.tab-content {
  text-align: center;
}

.skills{
  display: flex;
  justify-content: center;
  /* position: relative; */
}
.skills > button{
  margin: 1rem;
}

/* Texto da página */
h1 {
  text-align: center;
  font-weight: 100;
  /* margin-top: 2rem; */
}
.tittle{
  width: 40%;
  margin: auto;
  text-align: center;
}
.nav-tabs{
  display: flex;
  justify-content: center;

}
.nav-tabs > .nav-link {
  color: #114a11;
}



/* Cards egressos */
.egressos {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: 2rem;
  justify-content: center;
  color: #fff;
  margin-top: 2rem;
}
@media (max-width:610px){
  .egressos {
    grid-template-columns: repeat(1, 200px);
  }
  .filter {
    width: 80%;
  }
  .list-group-horizontal {
    flex-direction: column;
}

}
@media (min-width: 610px) {
  .egressos {
    grid-template-columns: repeat(2, 200px);
  }
  .filter {
    width: 80%;
  }

}

@media (min-width: 910px) {
  .egressos {
    grid-template-columns: repeat(4, 200px);
  }
  .filter {
    width: 40%;
  }
}
@media (min-width: 1440px) {
  .egressos {
    grid-template-columns: repeat(5, 200px);
  }
}
@media (min-width: 1920px) {
  .egressos {
    grid-template-columns: repeat(6, 200px);
  }
}
.texto_filtro {
  margin: 1rem;
  display: flex;
}
.texto_filtro > div{
  margin: auto;
}
.egresso {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  transition: all .4s;
  overflow: hidden;
}

.egresso:hover {
  transform: scale(1.1);
}

.egresso figure {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .7;
  transition: all .4s;
  background-size: 100%;
}

.egresso figure img {
  height: 100%;
}

.egresso:hover figure {
  opacity: 1;
  background-color: rgba(54, 214, 212);
  background-blend-mode: multiply;
}
.egresso .info {
  position: relative;
  width: 100%;
  height: 25%;
  z-index: 1;
  background-color: rgba(17, 74, 17, 0.4);
  background-blend-mode: multiply;
  margin-top: 148px;
  text-align: center;
}
.info p {
  padding-top: 0.5rem
}
.egresso:hover .info p{
  display: none;
}
.card-hover{
  display: none;
}
.egresso:hover .card-hover{
  display: block;
}
.card-hover p{
  text-align: left;
}

.egresso .icons {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 98%;
  margin: 0 auto;
  z-index: 2;
}

.egresso .name {
  position: absolute;
  text-align: center;
  width: 95%;
  margin: 0 auto;
}

.egresso .icons a {
  margin-left: 10px;
}
.egresso .icons a i{
  color: #fff;
  font-size: 20px;
}

.egresso .icons a i:hover {
  cursor: pointer;
}

.egresso .icons a i:hover {
  transition-duration: 0.4s;
  transform: scale(1.5);
}

.egresso:hover .info {
  background-color: transparent;
}

.egresso .name h2 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}


/*Cadastro*/
.situacao_cadastro{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin:auto;
}
.situacao_cadastro > div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.situacao_cadastro > div > label{
  margin-bottom: 0%;
  margin-left: 0.5rem;
}
.form-style-5{
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	/* font-family: Georgia, "Times New Roman", Times, serif; */
}
.form-style-5 fieldset{
  border: none;
  margin-bottom: 1.5rem;
}
.form-style-5 legend {
	font-size: 1.4em;
  margin-bottom: 10px;
}
.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: #d2d9dd;
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.form-style-5 .number {
	background: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}
.foto{
  margin-bottom: 2rem;
}
.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: #109177;
}

/* card-completo */
.card-display{
  display: none;
}
#card-completo{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background: rgba(17, 74, 17, 0.4)
}